In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [35]:
df1=pd.read_csv("diabetes-1.csv")

In [36]:
df1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [37]:
df1.shape

(768, 9)

In [38]:
df2=df1.drop(["Pregnancies","DiabetesPedigreeFunction"],axis="columns")

In [39]:
df2

     Glucose  BloodPressure  SkinThickness  Insulin   BMI  Age  Outcome
0        148             72             35        0  33.6   50        1
1         85             66             29        0  26.6   31        0
2        183             64              0        0  23.3   32        1
3         89             66             23       94  28.1   21        0
4        137             40             35      168  43.1   33        1
..       ...            ...            ...      ...   ...  ...      ...
763      101             76             48      180  32.9   63        0
764      122             70             27        0  36.8   27        0
765      121             72             23      112  26.2   30        0
766      126             60              0        0  30.1   47        1
767       93             70             31        0  30.4   23        0

[768 rows x 7 columns]

In [40]:
df2.isnull().sum()

Glucose          0
BloodPressure    0
SkinThickness    0
Insulin          0
BMI              0
Age              0
Outcome          0
dtype: int64

In [41]:
df2.Outcome.unique()

array([1, 0], dtype=int64)

In [42]:
df2.Age.unique()

array([50, 31, 32, 21, 33, 30, 26, 29, 53, 54, 34, 57, 59, 51, 27, 41, 43,
       22, 38, 60, 28, 45, 35, 46, 56, 37, 48, 40, 25, 24, 58, 42, 44, 39,
       36, 23, 61, 69, 62, 55, 65, 47, 52, 66, 49, 63, 67, 72, 81, 64, 70,
       68], dtype=int64)

In [43]:
df2.describe()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,120.894531,69.105469,20.536458,79.799479,31.992578,33.240885,0.348958
std,31.972618,19.355807,15.952218,115.244002,7.884160,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,0.000000
25%,99.000000,62.000000,0.000000,0.000000,27.300000,24.000000,0.000000
50%,117.000000,72.000000,23.000000,30.500000,32.000000,29.000000,0.000000
75%,140.250000,80.000000,32.000000,127.250000,36.600000,41.000000,1.000000
max,199.000000,122.000000,99.000000,846.000000,67.100000,81.000000,1.000000

In [52]:
#df2=df2.mask(df2==0).fillna(df2.mean())

df2["Glucose"] = df2["Glucose"].replace(0,120.89453125)
df2["BloodPressure"] = df2["BloodPressure"].replace(0,69.10546875)
df2["SkinThickness"] = df2["SkinThickness"].replace(0,20.536458333333332)
df2["Insulin"] = df2["Insulin"].replace(0,79.79947916666667)
df2["BMI"] = df2["BMI"].replace(0,31.992578124999998)
df2["Age"] = df2["Age"].replace(0,33.240885416666664)


df2

     Glucose  BloodPressure  SkinThickness     Insulin   BMI  Age  Outcome
0      148.0           72.0      35.000000   79.799479  33.6   50        1
1       85.0           66.0      29.000000   79.799479  26.6   31        0
2      183.0           64.0      20.536458   79.799479  23.3   32        1
3       89.0           66.0      23.000000   94.000000  28.1   21        0
4      137.0           40.0      35.000000  168.000000  43.1   33        1
..       ...            ...            ...         ...   ...  ...      ...
763    101.0           76.0      48.000000  180.000000  32.9   63        0
764    122.0           70.0      27.000000   79.799479  36.8   27        0
765    121.0           72.0      23.000000  112.000000  26.2   30        0
766    126.0           60.0      20.536458   79.799479  30.1   47        1
767     93.0           70.0      31.000000   79.799479  30.4   23        0

[768 rows x 7 columns]

In [53]:
from sklearn.model_selection import train_test_split
x = np.asarray(df2[["Glucose","BloodPressure","SkinThickness","Insulin","BMI","Age"]])
y = np.asarray(df2["Outcome"])
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.2, random_state=4)

print ('Train set:', x_train.shape,  y_train.shape)
print ('Test set:', x_test.shape,  y_test.shape)

Train set: (614, 6) (614,)
Test set: (154, 6) (154,)

In [54]:
print("# Total no. of Rows {0}".format(len(df2)))
print("# Rows missing Glucose Values {0}".format(len(df2.loc[df2.Glucose==0])))
print("# Rows missing BloodPressure Values {0}".format(len(df2.loc[df2.BloodPressure==0])))
print("# Rows missing Skin Thickness Values {0}".format(len(df2.loc[df2.SkinThickness==0])))
print("# Rows missing Insulin Values {0}".format(len(df2.loc[df2.Insulin==0])))
print("# Rows missing BMI Values {0}".format(len(df2.loc[df2.BMI==0])))
print("# Rows missing Age Values {0}".format(len(df2.loc[df2.Glucose==0])))

# Total no. of Rows 768
# Rows missing Glucose Values 0
# Rows missing BloodPressure Values 0
# Rows missing Skin Thickness Values 0
# Rows missing Insulin Values 0
# Rows missing BMI Values 0
# Rows missing Age Values 0

In [55]:
# from sklearn.impute import SimpleImputer
# fill_0 = SimpleImputer(missing_values=0, strategy="mean")

# x_train = fill_0.fit_transform(x_train)
# x_test = fill_0.fit_transform(x_test)
#df2.Glucose.mean()
#df2["Glucose"]=df2["Glucose"].replace(0,120.89453125)
# df2=df2.mask(df2==0).fillna(df2.mean())

In [56]:
print("# Total no. of Rows {0}".format(len(df2)))
print("# Rows missing Glucose Values {0}".format(len(df2.loc[df2.Glucose==0])))
print("# Rows missing BloodPressure Values {0}".format(len(df2.loc[df2.BloodPressure==0])))
print("# Rows missing Skin Thickness Values {0}".format(len(df2.loc[df2.SkinThickness==0])))
print("# Rows missing Insulin Values {0}".format(len(df2.loc[df2.Insulin==0])))
print("# Rows missing BMI Values {0}".format(len(df2.loc[df2.BMI==0])))
print("# Rows missing Age Values {0}".format(len(df2.loc[df2.Glucose==0])))

# Total no. of Rows 768
# Rows missing Glucose Values 0
# Rows missing BloodPressure Values 0
# Rows missing Skin Thickness Values 0
# Rows missing Insulin Values 0
# Rows missing BMI Values 0
# Rows missing Age Values 0

In [70]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
LR = LogisticRegression(C=0.01, solver='lbfgs').fit(x_train,y_train)
LR

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [71]:
yhat=LR.predict(x_test)
yhat

array([0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1],
      dtype=int64)

In [72]:
from sklearn.metrics import jaccard_similarity_score
jaccard_similarity_score(y_test, yhat)

C:\Users\lenovo\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\metrics\_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)

0.8051948051948052

In [73]:
print(confusion_matrix(y_test, yhat, labels=[1,0]))

[[37 15]
 [15 87]]

In [74]:
yhat_prob = LR.predict_proba(x_test)
yhat_prob

array([[0.77624558, 0.22375442],
       [0.93677987, 0.06322013],
       [0.89111212, 0.10888788],
       [0.51369484, 0.48630516],
       [0.67085644, 0.32914356],
       [0.37583817, 0.62416183],
       [0.34374398, 0.65625602],
       [0.87807418, 0.12192582],
       [0.22187583, 0.77812417],
       [0.90456537, 0.09543463],
       [0.42985033, 0.57014967],
       [0.91445769, 0.08554231],
       [0.76234389, 0.23765611],
       [0.93755417, 0.06244583],
       [0.87504674, 0.12495326],
       [0.46728993, 0.53271007],
       [0.11744348, 0.88255652],
       [0.07764947, 0.92235053],
       [0.96694753, 0.03305247],
       [0.94287509, 0.05712491],
       [0.90600745, 0.09399255],
       [0.40148234, 0.59851766],
       [0.86217514, 0.13782486],
       [0.12551328, 0.87448672],
       [0.87464504, 0.12535496],
       [0.4894671 , 0.5105329 ],
       [0.92080276, 0.07919724],
       [0.64403757, 0.35596243],
       [0.6835253 , 0.3164747 ],
       [0.84419422, 0.15580578],
       [0.31634256, 0.68365744],
       [0.95020941, 0.04979059],
       [0.72756336, 0.27243664],
       [0.96537365, 0.03462635],
       [0.38772782, 0.61227218],
       [0.74327668, 0.25672332],
       [0.42515815, 0.57484185],
       [0.49322216, 0.50677784],
       [0.91361221, 0.08638779],
       [0.34968291, 0.65031709],
       [0.37254262, 0.62745738],
       [0.68017201, 0.31982799],
       [0.82877231, 0.17122769],
       [0.16798173, 0.83201827],
       [0.8672239 , 0.1327761 ],
       [0.93597559, 0.06402441],
       [0.78813618, 0.21186382],
       [0.05620128, 0.94379872],
       [0.80282472, 0.19717528],
       [0.934903  , 0.065097  ],
       [0.42019445, 0.57980555],
       [0.20912143, 0.79087857],
       [0.91513488, 0.08486512],
       [0.51816449, 0.48183551],
       [0.43323269, 0.56676731],
       [0.92960026, 0.07039974],
       [0.85742339, 0.14257661],
       [0.96472345, 0.03527655],
       [0.87192064, 0.12807936],
       [0.38260558, 0.61739442],
       [0.7990787 , 0.2009213 ],
       [0.94199504, 0.05800496],
       [0.45069034, 0.54930966],
       [0.98171986, 0.01828014],
       [0.77704022, 0.22295978],
       [0.87668401, 0.12331599],
       [0.93202611, 0.06797389],
       [0.62672128, 0.37327872],
       [0.67312374, 0.32687626],
       [0.21326359, 0.78673641],
       [0.8993977 , 0.1006023 ],
       [0.54868129, 0.45131871],
       [0.79778217, 0.20221783],
       [0.9448012 , 0.0551988 ],
       [0.90700371, 0.09299629],
       [0.13693444, 0.86306556],
       [0.73154824, 0.26845176],
       [0.81007426, 0.18992574],
       [0.8987752 , 0.1012248 ],
       [0.09755924, 0.90244076],
       [0.13451699, 0.86548301],
       [0.64153395, 0.35846605],
       [0.84293477, 0.15706523],
       [0.03955159, 0.96044841],
       [0.51240809, 0.48759191],
       [0.95495472, 0.04504528],
       [0.95514736, 0.04485264],
       [0.20813662, 0.79186338],
       [0.72623121, 0.27376879],
       [0.77338264, 0.22661736],
       [0.40201936, 0.59798064],
       [0.92883532, 0.07116468],
       [0.80847936, 0.19152064],
       [0.87730557, 0.12269443],
       [0.91980392, 0.08019608],
       [0.47624762, 0.52375238],
       [0.85426043, 0.14573957],
       [0.35094188, 0.64905812],
       [0.1535485 , 0.8464515 ],
       [0.5947911 , 0.4052089 ],
       [0.84198158, 0.15801842],
       [0.41648722, 0.58351278],
       [0.81742493, 0.18257507],
       [0.735409  , 0.264591  ],
       [0.13648946, 0.86351054],
       [0.70168802, 0.29831198],
       [0.90791425, 0.09208575],
       [0.16907093, 0.83092907],
       [0.65519392, 0.34480608],
       [0.70250475, 0.29749525],
       [0.10563852, 0.89436148],
       [0.17463389, 0.82536611],
       [0.23589692, 0.76410308],
       [0.93980973, 0.06019027],
       [0.79420938, 0.20579062],
       [0.91859806, 0.08140194],
       [0.47383883, 0.52616117],
       [0.48727213, 0.51272787],
       [0.22735024, 0.77264976],
       [0.35545546, 0.64454454],
       [0.75471326, 0.24528674],
       [0.91597627, 0.08402373],
       [0.73795739, 0.26204261],
       [0.89941892, 0.10058108],
       [0.67381735, 0.32618265],
       [0.85378288, 0.14621712],
       [0.60343051, 0.39656949],
       [0.92186438, 0.07813562],
       [0.86073782, 0.13926218],
       [0.14723791, 0.85276209],
       [0.64117483, 0.35882517],
       [0.94797774, 0.05202226],
       [0.84142721, 0.15857279],
       [0.87150363, 0.12849637],
       [0.32933677, 0.67066323],
       [0.93210392, 0.06789608],
       [0.77436438, 0.22563562],
       [0.87350737, 0.12649263],
       [0.47127157, 0.52872843],
       [0.13617526, 0.86382474],
       [0.90086783, 0.09913217],
       [0.94630913, 0.05369087],
       [0.88591899, 0.11408101],
       [0.70584108, 0.29415892],
       [0.2920055 , 0.7079945 ],
       [0.26210522, 0.73789478],
       [0.15172309, 0.84827691],
       [0.5115026 , 0.4884974 ],
       [0.81698876, 0.18301124],
       [0.5964636 , 0.4035364 ],
       [0.94852421, 0.05147579],
       [0.62567042, 0.37432958],
       [0.32735066, 0.67264934],
       [0.14722898, 0.85277102]])

In [115]:
# Glucose, BloodPressure, SkinThickness, Insulin, BMI, Age
pred=[148.0,72.0,35.000000,79.799479,33.6,50]
Diab_pred=LR.predict_proba([pred])[0][1]*100

In [120]:
print("Probability of Diabetes : ""{0:.2f} %".format(Diab_pred))

Probability of Diabetes : 70.68 %